[Desktop Entry]
Exec=pw-play $HOME/.config/nix-config/dotfiles/managed/autostart/winxp.mp3
Name=Login Sound
Comment=Play a sound at login
Terminal=false
Type=Application
StartupNotify=false
