[Desktop Entry]
Encoding=UTF-8
Exec=paplay $HOME/.config/nix-config/dotfiles/winxp.mp3
Name=Login Sound
Comment=Play a sound at login
Terminal=false
Type=Application
StartupNotify=false
